.hljs {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    font-size: 1.1em;
}

h2 > a {
    color: black;
}

h2 > a:hover {
    color: black;
    cursor: text;
}
